a#controlled-tab-tab-\/register {
    display: none !important;
}

a#controlled-tab-tab-\/login {
    pointer-events: none;
}

#sign-in-form > div[class="pgn__form-group"] {
    display: none !important;
}

button#sign-in{
    display: none !important;
}

a#forgot-password {
    display: none !important;
}

#sign-in-form > div.mt-4.mb-3.h4::after {
    content: 'Please click the button below to sign in using Azure';
}