a#controlled-tab-tab-\/register {
    display: none !important;
}

a#controlled-tab-tab-\/login {
    pointer-events: none;
}

#sign-in-form > div[class="pgn__form-group"] {
    display: none !important;
}

#registration-form > div[class="pgn__form-group"] {
    display: none !important;
}

button#sign-in{
    display: none !important;
}

button#register-user{
    display: none !important;
}

a#forgot-password {
    display: none !important;
}

#sign-in-form > div.mt-4.mb-3.h4 {
    visibility: hidden;
}

#registration-form > div.mt-4.mb-3.h4 {
    visibility: hidden;
}

#sign-in-form > div.mt-4.mb-3.h4::before {
    visibility: visible;
    content: 'Please click the button below to sign in using Azure:';
}

#registration-form > div.mt-4.mb-3.h4::before {
    visibility: visible;
    content: 'Please click the button below to sign in using Azure:';
}
